body
h1{
    color:blue;
}

#bye{
    color:blueviolet;
}
    
.sample{
    color:yellow;
    background-color: grey;
}

/*.demo{ 
    width:100px;
    height:100px;
   /* border-width:dashed
    border-color: red;*/

   /* border: 2px solid red:*/
   /*border-top: 2px dotted black;
}*/
.demo{
    width:300px;
    border:2px solid red;
    /*margin-top: 100px;
    margin-left: 100px;*/
    margin:100px 0px 0px 100px;
    /*padding-left:30px;
    padding-tip: 20px;*/
    padding: 20px 0px 0px 30px;
}
.para {
    color:lightblue;
    background-color: black;
}
#para2 {
    color:orange
}