.signup{
    font-size: larger;
    padding: 10px;
    padding-left: 129px;
}
.Login{
    font-size: larger;
    padding: 10px;
    padding-left: 129px;
}
.newacc{
    padding: 10px;
    color: black;
}
